body {
    background-color: darkorange;
    width: 100%;
    padding: 0;
    margin: 0;
}
.header{
  width: 100%;
  height: 10%;
  text-align: center;
  background: yellow;
  border-top: 4px;
  border-bottom: 4px;
  border-top-color: orange;
}
.body{
  background-color: #fff;
}
h1{
  color: red;
  font-size: 45px;
}
h2{
  text-transform: uppercase;
  color: red;
  font-style: italic;
}
p{
  line-height: 2;
}
.comment{
  width: 100%;
  height: 45%;
  background-color: #FAEBD7;
  font-family: Courier, serif;
  color: red;
}

.comment h4{
  text-align: center;
  color: red;
  font-size: 20px;
}
